nav ul li.menu a{
	color: #FFF !important;
}
nav ul li.menu a:hover{
	color: #e7e7ed !important;
}
header{
	margin-bottom: 56px !important;
}
.servicos{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;
}
.titulo-servicos{
	color: #252c41;
	margin-bottom: 40px;
}
.tamanho-icone{
	font-size: 68px;
	color: #f06292;
}
.depoimento{
	background-color: #194089;
	border-radius: 0rem;
	margin-bottom: 0rem;
}
.titulo-depoimento{
	color: #FFF;
	margin-bottom: 40px;
}
.desc-depoimento{
	margin-bottom: 40px;
	color: #FFF;
}
.ult-art{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;
}
.titulo-ult-art{
	color: #252c41;
	margin-bottom: 40px;
}
.title-post-home a{
	color: #252c41;
	text-decoration: none;
}
.title-post-home a:hover{
	color: #dc3545!important;
	text-decoration: none;
}
.rodape{
	background-color: #252c41;
	color: #FFF;
	border-radius: 0rem;
	margin-bottom: 0rem;
}
.rodape ul li a.link-rodape{
	color: #FFF !important;
}
.rodape ul li a.link-rodape:hover{
	color: #adaeaf !important;
	text-decoration: none;
}
.sobre-empresa{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;	
}
.sob-emp-titulo{
	margin-bottom: 40px;
	color: #252c41;
}
.contato{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;	
}
.contato-titulo{
	margin-bottom: 40px;
	color: #252c41;
}
.error-message{
    color: #FF0000;
}
.blog{
	background-color: #f9faff;
	border-radius: 0rem;
	margin-bottom: 0rem;	
}
.blog-titulo{
	margin-bottom: 40px;
	color: #252c41;
}
.blog-post-title a{
	color: #252c41;
	text-decoration: none;
}
.blog-post-title a:hover{
	color: #dc3545!important;
	text-decoration: none;
}
a.cont-lendo-post{
	/*color: #252c41;*/
	text-decoration: none;	
}
.blog-pagination{
	margin-bottom: 4rem;
}
.blog-pagination > .btn{
	border-radius: 2rem;
}