<!--<h1>Seja bem vindo</h1>-->
<!--Olá, <?= $name ?>-->

Olá, <?= $name ?>
<p>Está tudo pronto para você começar a utilizar o ..., uma área de membros que leva os melhores ... até você.</p>
<p>Para isso, precisamos que confirme o seu e-mail pelo link abaixo</p>

<p>
	<?= "<a href='".$host_name."/users/conf-email/".$cod_val_email."'>Confirmar e-mail</a>"; ?>
</p>
Obrigado por estudar conosco.<br>
Atenciosamente,
